/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
    font-family: sans-serif;
}
.dates{
    font-size: small;
    color:red;
    font-weight: bold;
    background-color: yellow;
    padding: 5px 10px 5px 10px;
}
body{
    background-color: white;
}
#plus-sign{
    margin-top: 10px;
}

li{
    margin-bottom:20px;
    padding: 10px;
}


li:hover{
    background-color: #c6f2aa;
}

h1{
    padding-left:150px;
    padding-bottom:10px;
    padding-top:10px;
    color:Pink;
}